# Core functionality - changes here should be rare!
/src/app.py                   @Diegocanales1
/src/backend/database.py      @Diegocanales1
/src/backend/routers/auth.py  @Diegocanales1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Diegocanales1
